#!/bin/sh

errorExit() {
  echo "*** $*" 1>&2
  exit 1
}

curl --silent --max-time 2 --insecure https://localhost:{{ apiproxy_port }}/ -o /dev/null || errorExit "Error GET https://localhost:{{ apiproxy_port }}/"
if ip addr | grep -q {{ apiproxy_ip }}; then
  curl --silent --max-time 2 --insecure https://{{ apiproxy_ip }}:{{ apiproxy_port }}/ -o /dev/null || errorExit "Error GET https://{{ apiproxy_ip }}:{{ apiproxy_port }}/"
fi
