global_defs {
  router_id KubeVIP
}

vrrp_instance VI_1 {
  state {{ item.state }}

  interface eth0

  virtual_router_id {{ vrid }}
  priority {{ item.priority }}

  mcast_src_ip {{ item.ip }}

  authentication {
    auth_type PASS
    auth_pass {{ vip_pass }}
  }

  unicast_peer {
{% for peer in item.peers %}
    {{ peer }}
{% endfor %}
  }

  virtual_ipaddress {
    {{ apiproxy_ip }}/24
  }
}
