[
{% if item.privileged %}
 {
  "op": "add",
  "path": "/cluster/apiServer",
  "value": {
   "extraArgs": {
    "allow-privileged": "true"
   }
  }
 },
{% endif %}
{% if item.igpu %}
 {
  "op": "add",
  "path": "/machine/install/extraKernelArgs",
  "value": [
   "i915.enable_guc=2",
   "i915.enable_dc=0"
  ]
 },
{% endif %}
 {
  "op": "add",
  "path": "/machine/network/interfaces",
  "value": [
   {
    "interface": "eth0",
    "addresses": [
     "{{ item.cidr }}"
    ],
    "routes": [
     {
      "network": "0.0.0.0/0",
      "gateway": "{{ gateway }}"
     }
    ]
   }
  ]
 },
 {
  "op": "add",
  "path": "/machine/registries",
  "value": {
   "mirrors": {
    "docker.io":  { "endpoints": [ "http://10.0.1.8:5000" ] },
    "k8s.gcr.io": { "endpoints": [ "http://10.0.1.8:5001" ] },
    "quay.io":    { "endpoints": [ "http://10.0.1.8:5003" ] },
    "gcr.io":     { "endpoints": [ "http://10.0.1.8:5003" ] },
    "ghcr.io":    { "endpoints": [ "http://10.0.1.8:5004" ] }
   }
  }
 },
 {
  "op": "add",
  "path": "/machine/network/hostname",
  "value": "{{ item.name }}"
 },
 {
  "op": "add",
  "path": "/machine/network/nameservers",
  "value": [
   "{{ nameserver }}"
  ]
 },
{% if item.storage %}
 {
  "op": "add",
  "path": "/machine/kubelet/extraMounts",
  "value": [
   {
    "destination": "/var/local",
    "type": "bind",
    "source": "/var/local",
    "options": [
     "rbind",
     "rshared",
     "rw"
    ]
   }
  ]
 },
 {
  "op": "add",
  "path": "/machine/kubelet/extraArgs",
  "value": {
   "node-labels": "openebs.io/engine=mayastor"
  }
 },
 {
  "op": "add",
  "path": "/machine/sysctls",
  "value": {
   "vm.nr_hugepages": "1536"
  }
 },
{% endif %}
 {
  "op": "add",
  "path": "/machine/time",
  "value": {
   "disabled": false,
   "servers": [
    "time.cloudflare.com"
   ],
   "bootTimeout": "2m0s"
  }
 },
{% if item.igpu %}
 {
  "op": "add",
  "path": "/machine/udev",
  "value": {
   "rules": [
    "SUBSYSTEM==\"drm\", KERNEL==\"renderD*\", GROUP=\"103\", MODE=\"0666\"",
    "SUBSYSTEM==\"drm\", KERNEL==\"card*\",    GROUP=\"44\",  MODE=\"0666\""
   ]
  }
 }
{% endif %}
]
